<div id="ajoutAmis">
    <form method="post" action="Amis.php" id="Amis" >
        Email : <input type="email" name="email" id="textbox">
        <input type="submit" id="button" value="Ajouter"/>
    </form>
</div>