<table class="visuProfil">
   <p class="visuProfil"> {{ error }}
   </p>
    {% for alb in album %}
        <tr>
            <td>

            </td>
            <td>
                <ul>

                    <li class="page">
                     Nom:   {{ alb.nom }}<br>
                      Description:   {{ alb.description }} <br>

                    </li>

                </ul>
            </td>
        </tr>
    {% endfor %}
</table>