<table>
    {% for alb in album %}
        <tr>
            <td>

            </td>
            <td>
                <ul>

                    <li>
                     Nom:   {{ alb.nom }}<br>
                      Description:   {{ alb.description }} <br>

                    </li>

                </ul>
            </td>
        </tr>
    {% endfor %}
</table>