<table class="visuProfil">
   <p class="visuProfil"> {{ error }}
   </p>
    {% for alb in album %}
        <tr>
            <td>

            </td>
            <td>
                <ul>

                    <li class="page">
                        <!-- Il faut trouver quoi mettre dans href et index.php, pour donner le numéro d'album afin de récupérer le bon album -->
                        Nom:  <a href="#" > {{ alb.nom }} </a>

                        <br>
                      Description:   {{ alb.description }} <br>

                    </li>

                </ul>
            </td>
        </tr>
    {% endfor %}
</table>