<div id="configuration">
    <!-- Changement Nom -->
    <form method="post" action="configuration.php" id="configurationForm" >
        Nom : <input type="text" name="nom" id="textbox">
        <input type="submit" id="button" value="Changer"/>
    </form>
    <!-- Changement Email -->
    <form method="post" action="configuration.php" id="configurationForm">
        Email : <input type="email" name="email"id="textbox" >
        <input type="submit" id="button" value="Changer"/>
    </form>
    <!-- Changement Pseudo -->
    <form method="post" action="configuration.php" id="configurationForm">
        Pseudo : <input type="text" name="pseudo" id="textbox">
        <input type="submit" id="button" value="Changer"/>
    </form>
    <!-- Changement mdp -->
    <form method="post" action="configuration.php" id="configurationForm" >
        Mot de passe : <input type="text" name="password" id="textbox">
        <input type="submit" id="button" value="Changer"/>
    </form>
    <!-- Changement Photo -->
    <form method="post" action="configuration.php" id="configurationForm">
        Photo : <input type="text" name="photo"  id="textbox">
        <input type="submit" id="button" value="Publier" name="ajouter"/>
    </form>
</div>