<div id="configuration">
    <script type="text/javascript">
        $(document).ready(function () {
                
            var SLASH = "/";
            $("#changernom").submit(function (e) {
                e.preventDefault();
                if ($("#nom").val() == '')
                {
                    alert("Veuillez entrer un nom");
                }        
                else{
                    $.ajax({
                        data: 'nom=' +  $("#nom").val(),
                        url: SLASH+'..'+SLASH+'layout'+SLASH+'configuration.php',
                        method: 'POST',
                        success: function(msg) {
                            alert(msg);   
                        }
                    });
                }
            });
            $("#changerpseudo").submit(function (e) {
                e.preventDefault();
                if ($("#pseudo").val() == '')
                {
                    alert("Veuillez entrer un pseudo valide");
                }        
                else{
                    $.ajax({
                        data: 'pseudo=' +  $("#pseudo").val(),
                        url: SLASH+'..'+SLASH+'layout'+SLASH+'configuration.php',
                        method: 'POST',
                        success: function(msg) {
                            alert(msg);   
                        }
                    });
                }
            });
            $("#changermdp").submit(function (e) {
                e.preventDefault();
               
                if ($("#ancienpwd").val() == ''){
                    alert("Veuillez entrer votre ancien mot de passe");
                }
                    
                else if( $("#password").val() == ''){
                    alert("Veuillez entrer un nouveau mot de passe");
                }        
                else{
                    $.ajax({
                        
                        data: 'ancienpwd=' +  $("#ancienpwd").val() +"&password=" +$("#password").val(),
                        url: SLASH+'..'+SLASH+'layout'+SLASH+'configuration.php',
                        method: 'POST',
                        success: function(msg) {
                            alert(msg);   
                        }
                    });
                }
            });
            
            $("#changerphoto").submit(function (e) {
                e.preventDefault();
                
                
                    
                /*$.ajax({
                        
                        data: 'ancienpwd=' +  $("#ancienpwd").val() +"&password=" +$("#password").val(),
                        url: SLASH+'..'+SLASH+'layout'+SLASH+'configuration.php',
                        method: 'POST',
                        success: function(msg) {
                            alert(msg);   
                        }
                    });
                }*/
            });
        });
    </script>
    
    <h1 class="center">Configuration</h1>
    <!-- Changement Nom -->
    <div class="decalage">
        <form id="changernom" class="configurationForm" >
            Nom : <input type="text" name="nom" id="nom" class="textbox">
            <input type="submit" class="button" value="Changer"/>
        </form>
        <!-- Changement Pseudo -->
        <form id="changerpseudo" class="configurationForm">
            Pseudo : <input type="text" name="pseudo" id="pseudo" class="textbox">
            <input type="submit" class="button" value="Changer"/>
        </form>
        <!-- Changement mdp -->
        <form  id="changermdp" class="configurationForm" >
            Ancien mot de passe : <input type="password" id="ancienpwd" name="ancienpwd" class="textbox"><br/><br/><br/>
            Nouveau mot de passe : <input type="password" id="password" name="password" class="textbox">
            <input type="submit" class="button" value="Changer"/>
        </form>
        <!-- Changement Photo -->
        <form id="changerphoto" class="configurationForm" enctype="multipart/form-data" >
            Photo de profil : <input type="file" name="photo" id="photo">
            <input type="submit" class="button" value="Changer" name="submitphoto"/>
        </form>
        <!-- Changement Photo Fond-->
        <form id="changerphotofond" class="configurationForm" enctype="multipart/form-data">
            Photo de fond : <input type="file" name="photofond" id="photofond">
            <input type="submit" class="button" value="Changer" name="submitphotofond"/>
        </form>
    </div>
</div>