<div id="configuration">
    
    <!-- Changement Nom -->
    <form method="get" id="changernom" class="configurationForm" >
        Nom : <input type="text" name="nom" id="nom" class="textbox">
        <input type="submit" class="button" value="Changer"/>
    </form>
    <!-- Changement Email -->
    <form method="post" id="changeremail" class="configurationForm">
        Email : <input type="email" name="email" id="email" class="textbox" >
        <input type="submit" class="button" value="Changer"/>
    </form>
    <!-- Changement Pseudo -->
    <form method="post" id="changerpseudo" class="configurationForm">
        Pseudo : <input type="text" name="pseudo" id="pseudo" class="textbox">
        <input type="submit" class="button" value="Changer"/>
    </form>
    <!-- Changement mdp -->
    <form method="post" id="changermdp" class="configurationForm" >
        Ancien mot de passe : <input type="password" id="ancienpwd" name="ancienpwd" class="textbox"><br/><br/><br/>
        Nouveau mot de passe : <input type="password" id="password" name="password" class="textbox">
        <input type="submit" class="button" value="Changer"/>
    </form>
    <!-- Changement Photo -->
    <form method="post" id="changerphoto" class="configurationForm">
        Photo : <input type="text" name="photo"  id="photo" class="textbox">
        <input type="submit" class="button" value="Changer" name="ajouter"/>
    </form>
</div>