<br/><br/>
<div class = title ><h1>Coupe de France de Robotique</h1></div>
<br/><br/>
A mon entrée à Telecom SudParis, l’année scolaire dernière, je me suis rapidement (en deux semaines environ) rapproché d’Intech, le club de robotique.
<br/><br/>
<img src="/layout/img/coupe/Intech.jpg" class="picture">
<br/><br/>
Le club, dont le but est de former les premières années à la robotique, propose chaque année, en projet de première année, de participer à la coupe de France de robotique.  Le but de la coupe est de construire un robot répondant à plusieurs critères, de dimension, et fonctionnalités.
<br/><br/>
Le robot, devant être autonome sur une table de deux mètres sur trois, doit effectuer des actions bien définies dans les règles, règles renouvelées chaque année.
<br/><br/>
J’ai eu le rôle de mécanicien au sein du club. J’ai pu, à ce titre, concevoir, réaliser, et faire cohabiter les divers actionneurs destinés à répondre aux règles de la coupe.
<br/><br/>
<h2>I – Règles :</h2>
<br/>
<img src="/layout/img/coupe/regles.JPG" class="large_picture">
<br/><br/>
Le robot devait partir de l’une des serviettes, verte ou violette, et puis accomplir autant de taches possibles parmi les suivantes pour marquer le nombre de points maximal :
<br/>- Sortir de la serviette : 15 points
<br/>- Aller récupérer un ou plusieurs poissons, dans les bacs à eau de la table (contenant de la vraie eau!) et les déposer dans le filet. Les poissons sont munis d’anneau magnétiques, 10 point par poisson
<br/>- Fermer deux portes, 10 point par porte.
<br/>- Ramener des palets de la bonne couleur sur les serviettes, 2 point par palet.
<br/>- Ramener les blocs de bois du château au nord de la table, dans la zone du milieu de la table, 2 point par bloc
<br/>- Déployer un parasol à la fin du match, 20 points.
<br/><br/>
<h2>II – Notre robot :</h2>
<br/><br/>
<img src="/layout/img/coupe/robot2.jpg" class="large_picture">
<br/><br/>
Un début de mécanique
<br/><br/>
<h3>1 - Generalités</h3>
<br/>
Notre robot est muni d’une base roulante héritée d’année en année, comportant deux moteurs, et deux roues codeuses au contact du sol. Grâce à ce système, il peut se déplacer sur la table, en connaissant sa position. Sur cette base roulante est bâtie toute la mécanique du robot, les actionneurs destinés à répondre aux actions demandées par les règles, l’odométrie, etc...
<br/><br/>
La mécanique est contrôlée en puissance par une carte électronique sur mesure, faite chaque année en fonction de la mécanique (des actionneurs et des divers capteurs). L’électronique est reliée à une STM32F4 (carte de développement), permettant le traitement des ordres issus du haut niveau.
<br/><br/>
Cette carte reçoit ses ordres d’une Raspberry-Pi faisant tourner des scripts java et une IA en python
<br/><br/>
Cette hiérarchie de cartes permet une parallélisation des tâches :
<br/>- L’IA cherchant à obtenir le nombre maximal de points détermine les actions à effectuer, et appelle des scripts Java.
<br/>- Les Scripts Java, faisant appel au path-finding, envoient des ordres d’action au bas niveau.
<br/>- Le bas niveau interprète les ordres d’action et les décompose en actions sur l’électronique, relayant la puissance vers la mécanique.
<br/>- La mécanique , …. agit.
<br/><br/>
<img src="/layout/img/coupe/robot0.jpg" class="picture">
<br/><br/>
<h3>2 - Réponse mécanique aux règles de la coupe</h3>
<br/><br/>
- Portes à fermer : nul besoin de mécanique compliquée, rouler vers les portes et rentrer dedans suffit largement à la tache.
<br/><br/>
- Poissons : nous récupérons les poissons à l’aide de bras pivotant, se plaçant horizontalement au dessus des poissons. Ces bras sont munis d’aimants, et d’un système de décrochage, permettant d’aimanter les poissons aux bras le temps de les déplacer vers le filet, et de les y laisser tomber.
<br/><br/>
- Blocs de bois: le robot est muni de deux réserves latérales (des portes) épousant ses cotés. Elles peuvent se déployer, et se rétracter. Lorsqu’elles sont rétractées, elles sont en contact avec les parois latérales du robot, et une fois déployées, elles permettent de contenir les cubes de bois.
<br/><br/>
Pour les y amener, les bouts des portes sont munis d’axes rotatifs adhérents, ce qui permet de décoller les cubes du bord de la table. De cette manière, le robot peut avancer vers les cubes, les décaler, pour qu’ils entrent dans la réserve. Une fois à l’intérieur, il n’y a plus qu’à les guider vers la zone de dépôt.
<br/><br/>
- Parasol : un mini parasol a été conçu, imitant le système même du parasol ordinaire. Un câble tiré vers le bas permet de le déployer ; ce fil est relié à un moteur qui, activé à la fin du match permet de déployer le parasol.
<br/><br/>
- Palets : on ramène les palets de la même manière que les blocs de sable.
<br/><br/>
<img src="/layout/img/coupe/robot.jpg" class="large_picture">
<br/><br/>
Un début de mécanique
<br/><br/>
<h2>III – Résumé de la coupe</h2>
<br/>
<h3>1 – Homologation</h3>
<br/>
La première étape, une fois installés à notre stand de la coupe fut de travailler à l’homologation du robot. L’idée, est de s’assurer que le robot répond bien aux règles de la coupe, particulièrement :
<br/>- Les critères de dimension : le périmètre du robot non déployé ne doit pas excéder 1,2 mètre, et une fois déployé, il doit rester inférieur à 1,5 mètre. La hauteur du robot ne doit, elle, pas dépasser 35cm.
<br/>- Les critères d’évitement : le robot, autonome rappelons-le, doit éviter tout adversaire arrivant vers lui. Il doit donc posséder des capteurs (ultrasons, infrarouges, peu importe) pour détecter toute chose proche.
<br/><br/>
Pour tester le périmètre, les arbitres enroulent un tissu de la bonne longueur autour du robot, et si les deux bords ne se rejoignent pas, le robot n’est pas homologué.
<br/><br/>
Après le test des dimensions, le robot est mis sur une table de test, et laissé libre de mouvement. L’arbitre place ensuite une boite dans la direction de déplacement du robot, et si le robot ne s’arrête pas, le robot n’est pas homologué.
<br/><br/>
Les équipes peuvent passer autant de fois qu’elles veulent les tests d’homologation, et peuvent échouer un nombre illimité de fois. La seule chose important est que lorsque les homologations s’arrêtent (le second jour à midi il me semble), le robot soit homologué, sans quoi, il ne peut participer aux matchs.
<br/><br/>
Notre homologation se déroula fort bien concernant le déplacement, mais lors du contrôle des dimensions, nous avons eu une grosse surprise. J’avais bien fait attention durant l’assemblage de la mécanique à ne pas dépasser le périmètre limite. Ce que je n’avais pas envisagé, par contre, c’est que l’ajout des capteurs à ultrasons à l’avant du robot agrandirait le périmètre. Ceci nous a été brusquement révélé par les arbitres lors de l’enroulage du tapis autour du robot.
<br/><br/>
BON !! ON FAIT QUOI LA !
<br/><br/>
C’était en gros ce qu’on se disait à ce moment là.
<br/><br/>
Il a donc fallu … intérioriser légèrement les capteurs, à coup de Dremel :
<br/><br/>
<img src="/layout/img/coupe/dremel.jpg" class="large_picture">
<br/><br/>
L’homologation a été ensuite validée, malgré un bon coup de frayeur.
<br/><br/>
<h3>2 – Premiers tests sur les tables</h3>
<br/>
Dans hangar dans lesquels nous étions installés, nous avions à disposition des tables d’entraînement. Ces tables, comme toutes les tables de la coupe, avaient été peintes récemment.
<br/><br/>
Nous devions apporter nos propres poissons, mais les blocs de bois étaient fournis.
<br/><br/>
Nous premiers tests avec les poissons furent très concluants. Cependant, les tests avec les blocs de bois, furent bien plus décevants.
<br/><br/>
Nous qui arrivions à emporter une rangée de cubes empilés dans la réserve du robot, sur notre propre table à Intech, n’arrivions même pas à décoller les cubes du mur.
<br/><br/>
La raison à cela, était que les cubes et la table avaient été peints très récemment. La peinture étant encore très fraîche, les frottements étaient BEAUCOUP plus importants sur les cubes de tests.
Comme si ce n’était pas suffisant, les cubes étaient faits en bois beaucoup plus dense que ceux d’Intech. Ils étaient beaucoup plus lourds, et étaient donc encore plus durs à déplacer.
<br/><br/>
J’ai beaucoup travaillé pour solidifier la mécanique, pour rendre l’axe plus puissant, mais sans résultats. Aussi puissants qu’ils puissent être, aussi puissants que notre base roulante puisse être, les cubes étaient trop lourds.
<br/>
<h3>3 – Modification de notre stratégie</h3>
<br/><br/>
Constatant que nos chances de succès à rapatrier le moindre cube étaient assez faibles, les responsables du haut niveau ont changé la stratégie du match. La priorité, avant, donnée au rapatriement des cubes de bois, a été reportée sur les poissons, les portes et les palets.
<br/><br/>
Ces actions, plutôt faciles en fait, et très sures, notre taux d’échec y étant très bas, nous rapportaient une moyenne de 100 points environ, un très bon score.
<br/><br/>
<h3>4 – Matchs de qualification</h3>
<br/>
Les trois premiers matchs nous permirent d’obtenir et de garder une place dans les dix premiers. Nous fîmes trois matchs très corrects, et obtînmes 111 points (6emes) au premier, 103 points (8èmes) au second et 106 (7ème) au troisième.
<br/><br/>
Pour rappel, la coupe de France regroupe plus de 150 équipes.
<br/><br/>
Le quatrième match, nous fit perdre quelques places, à cause d’un poisson tombé à l’intérieur du robot nous ayant bloqué. Nous terminâmes la quatrième manche en marquant 71 points, soit un total de 391 points, nous conférant la 11ème place.
<br/><br/>
Par chance, nous terminâmes nos phases de qualification par un match parfait, nous rapportant 117 points pour un total de 508 points.
<br/><br/>
A l’issue des matchs de qualification, nous obtînmes le doux rang de 10 èmes.
<br/><br/>
<h3>5 – Finales, ou le cassage de gueule</h3>
<br/>
Notre rang au dessus de 16 nous permit d’entrer dans les matchs de finale. Notre premier et seul match fut pour le moins décevant, notre robot n’ayant même pas pu effectuer d’actions. Il sortit de sa base, vira de bord, et se planta dans le mur.
<br/><br/>
L’explication à ce fait, résulte d’une conjonction de coïncidences. Décomposons le plantage :
<br/>- Le début du match sonne, le robot démarre. Comme d’habitude, il démarre à pleine vitesse.
<br/>- La peinture étant fraîche, l’état de séchage n’était pas homogène entre les deux roues. Une a glissé, et l’autre a adhéré à la table. Le robot a donc tourné sur lui même.
<br/>- Après avoir tourné, il a aperçu le parasol, situé dans la zone de départ proche de lui.
<br/>- Il a esquissé une trajectoire courbe pour éviter l’adversaire qu’il a cru avoir détecté.
<br/>- Une erreur de code dans la détermination des trajectoires d’évitement l’a fait entrer dans le mur.
<br/>- Il a détecté la collision, et s’est cru bloqué.
<br/><br/>
Le robot a patienté tranquillement le temps du match, sans rien faire.
<br/><br/>
Par contre, à la fin du match, le parasol s’est ouvert …
<br/><br/>
<h2>IV - La vie à la coupe</h2>
<br/>
<h3>1 – Le lieu</h3>
<br/>
Nous étions installés dans un grand hangar de La Roche Sur Yon, à coté d’un centre commercial. Chaque équipe avait son stand, constitué de deux tables pour mettre tout le matériel nécessaire, les outils, les PC, l’imprimante 3D, etc … L’espace était plutôt exigu, mais l’atmosphère de la coupe faisait très bien passer ce petit dérangement.
<br/><br/>
img src="/layout/img/coupe/stand.jpg" class="large_picture">
<br/><br/>
Quand je parle d’atmosphère de la coupe, il faut s’imaginer un groupe de plus de 200 équipes, amassées dans ce hangar, la musique dans les baffles, installés à coder, construire, et tester pendant 3 jours quasi non stop. C’est de la folie. Entre la tension dans l’équipe pour les tests et l’appréhension des matchs et homologations à venir, et l’effervescence générale, c’est addictif !
<br/><br/>
<img src="/layout/img/coupe/stands.jpg" class="large_picture">
<br/><br/>
<h3>2 – Le logement</h3>
<br/>
Je pense qu’il n’est pas nécessaire de préciser que dormir n’est pas l’activité prioritaire pendant la coupe.
Néanmoins, il est mis à disposition des équipes (contre rémunération) des logements dans les établissements avec des internats aux alentours. Faut dire qu’une douche pendant la coupe, c’est rarement de refus…
<br/><br/>
<h3>3 – Enfin</h3>
<br/>
La coupe a été un moment fantastique, un moment à part dans l’année, ou on oublie tout le reste.
Même si les finales n’ont pas été à notre honneur, ça reste un souvenir gravé dans ma mémoire, et j’attends avec impatience la prochaine coupe, même si je ne présenterai, cette fois, pas de robot. Peut être l’année prochaine !
<br/><br/>
Mais surtout, au-delà de l’événement, ce sont mes camarades d’Intech, notre bonne équipe forgée par la coupe, qui reste la meilleure chose issue de la coupe. De droite à gauche, mes amis, sans qui aucune coupe n’aurait été envisageable : Francois (CF), Julian (Discord), Tanguy (ThatGuy), Remi (BigBoss) et moi, Briztou.
<br/><br/>
<img src="/layout/img/coupe/team.jpg" class="large_picture">
<br/><br/>
