<br/><br/>
<div class = title ><h1>Projet de Fonderie Maison</h1></div>
<br/><br/>
Au début de l'année, je me suis rendu compte qu’avec les machines dont nous disposions au club de robotique, nous serions toujours limités en terme de fabrication de pièces. Faute de fraiseuse, même manuelle, les pièces allaient toujours devoir être réalisées à l’imprimante 3D. Même si les structures en PLA, si elles sont bien conçues,  peuvent supporter jusqu’à plusieurs centaines de kilos de pression, je voulais trouver un moyen abordable pour nous de fabriquer des pièces métalliques sophistiquées.
<br/>
L’année précédente, j'étais tombé sur des vidéos montrant qu’il était possible de se fabriquer une fonderie cheap, pour y mouler de l’alu. L’avantage étant que nous disposions de grandes quantité d’aluminium à disposition.
<br/>
J’ai donc fait plusieurs essais, toujours à partir d’un seau en acier percé à la base pour faire arriver de l’air. Partant d’un mélange béton réfractaire - sable, qui a rapidement montré ses limites, j’ai fini par trouver un bon alliage plâtre - sable qui a bien tenu jusqu’à présent.
<br/><br/><br/>
<img src="/layout/img/Fonderie/FONDERIE.jpg" class="large_f_picture">
<br/><br/>
Après quelques réussites, aboutissant à de jolis muffins aluminisés, j’ai commencé à m’intéresser à la pratique du moulage. Muni de 5 KG de sable à vert, j’ai fondu une première pièce, dont la fidélité à l’original nous a tous surpris (remarquez les traits de l’imprimante 3D).
Depuis, je me suis attelé à la fabrication de plus grosses pièces pour notre robot de cette année, notamment les pièces pour soutenir les roues de la bête.
<br/><br/>
<h1>I - Fabrication de la fournaise</h1>
<h2>1 - Armature</h2>
<h3>Materiel :<br/></h3>
<h3> Procedure :<br/></h3>
La fournaise est constituée d’un simple seau en acier (bien vérifier qu’il n’est pas en aluminium lors de l’achat. Un conseil pour vérifier : emportez un aimant, l’aluminium n’est pas magnétique, à l’inverse de l’acier).
<br/>
A l’aide d’une perceuse, faire un trou d’environ 10 centimètres de diamètre, dont la partie inférieure est à environ 5cm du bas du seau. Il servira d’arrivée d’air, qu’on alimentera à l’aide d’un décapeur thermique (ou d’un sèche cheveux mais ça sera moins efficace). Pour cela, utiliser un foret cloche (dur) ou tracer le cercle à suivre pour l’ouverture, et réaliser une série de perçages (2-3mm diam pour moi) sur ce cercle,  et couper les liaisons restantes avec une pince à tôle (ou une pince normale mais c’est plus dur).
<br/>
<br/><br/><br/>
<img src="/layout/img/Fonderie/percage.jpg" class="f_picture">
<br/><br/>
Vous pouvez ensuite limer la tôle pour adoucir le cercle mais veillez à vous munir d’un casque anti bruit (si vous ne voyez pas pourquoi je dis ca, essayez sans, vous comprendrez rapidement…)
<br/>
<h2>2 - Isolation</h2>
<h3>Materiel :<br/></h3>
1 Sac de sable<br/>
1 Sac de platre de paris<br/>
(Vous en aurez pour plusieurs fonderies…)<br/>
<h3> Procédure :<br/></h3>
Préparez une bonne quantité (plus possible de me rappeler de la quantité que j’avais mis, je crois qu’il y avait environ 10 verres de 30cl de plâtre, mélangé à 50% avec du sable) de mélange sable plâtre, et répartissez la de manière homogène sur tout le contour du seau. L’idéal étant d’avoir 5cm d'épaisseur partout dans le seau.
Veillez à laisser l’arrivée d’air intact : pour cela faites passer un tuyau de pvc du diamètre approprié à travers l’ouverture et collez le plâtre autour.
Remplissez le seau de plâtre jusqu’au bas de l’entrée d’air pour isoler le bas.
<br/><br/><br/>
<img src="/layout/img/Fonderie/renfort.jpg" class="f_picture">
<br/><br/>
Laissez sécher une semaine.
<br/>
Note : Il peut être nécessaire d’attendre plus pour sécher le plâtre correctement. Si il est encore humide lors de la première chauffe, des fissures apparaîtront. Ce n’est pas un problème pour la fonderie, car le plâtre sert uniquement d’isolant, et restera intègre malgré les fissures. Mais c’est moins joli…
<br/>
<h2>3 - Creuset</h2>
Le creuset contiendra l’aluminium à fondre lors de la chauffe.<br/>
Il est impératif qu’il soit composé d’acier (évitons de recouvrir vos braises d’aluminium, ça serait dommage…). La première expérience faisait intervenir une vieille bouteille en acier que j’avais découpé, mais son épaisseur excessive (1.5cm d’acier, je vous raconte pas le plaisir pour découper ça à la scie à métaux…) et sa hauteur (j’avais pas coupé assez bas, et j’avais la flemme de me taper une autre coupe à la scie…) rendaient difficile la transmission de la chaleur et causaient des pertes énormes, la bouteille dépassant de la fonderie et étant au contact de nos -5 hivernaux.
<br/>
La dernière trouvaille en date est d’utiliser une simple boite de conserve en acier (2 euros 30 la boite de 1kg de champignons chez votre carrefour). Elles sont fines et résistantes, bien qu’elles aient tendance à se fragiliser à l’usage, j’en change donc régulièrement.
<br/>
Coupez une encoche à la pince à tôle pour faire un bec verseur, et faites un trou de l’autre côté pour tenir le creuset.
<br/>
Prenez ensuite une barre d’acier que vous plierez pour en faire un petit crochet, destiné à attraper le creuset à la fin de la chauffe
<br/><br/><br/>
<img src="/layout/img/Fonderie/outils.jpg" class="f_picture">
<br/><br/>
<h1>II - Le Moulage</h1>
<h2>1 - Construction du support de moulage</h2>
C’est la partie délicate du projet, en effet, c’est l'élaboration du moule qui déterminera la fiabilité de la pièce. Un support de moulage est typiquement constitué de deux cadres en bois aux dimensions proches de celles de la pièce à mouler, dotés d’attaches pour les solidariser entre eux.
A l’aide d’une table à découper (ou d'un étau et d'une scie), couper un tronçon de planche de largeur uniforme, c’est le plus important. Ensuite, le diviser en quatre parties égales qui feront les longueurs des cadres, et quatres autres parties égales pour les largeurs.
<br/><br/><br/>
<img src="/layout/img/Fonderie/planches_scie.jpg" class="f_picture">
<br/><br/>
Visser ensuite ces planches pour faire deux cadres aux dimensions identiques (le combiné pré-trou au foret + visage à la visseuse marche bien, ça évite de défoncer le bois sur l'épaisseur, surtout dans de l’agglo pourri comme le mien (j’avais que ça sous la main…))
<br/>
Conseil : il est important que au moins une face de chaque cadre soit parfaitement plane, car nous allons les coller pour faire le moule. Les espaces entre les planches sont donc à éviter.
Pour faciliter cela, avant de percer les pré-trous, posez les planches sur une table, disposez-les pour faire le cadre, et immobilisez-les avec des serre-joint. Ensuite, faites les pré-trous.
<br/><br/><br/>
<img src="/layout/img/Fonderie/pre_trous.jpg" class="f_picture">
<br/><br/>
Vissez ensuite les deux cadres, qui doivent avoir des dimensions similaires.
<br/><br/>
<img src="/layout/img/Fonderie/cadres.jpg" class="f_picture">
<br/><br/>
Ensuite, il faut mettre des guides verticaux pour ne pas abîmer le moule lors de la séparation des deux cadres. N’ayant encore une fois rien d’autre sous la main, j’ai recyclé des vieilles pièces imprimées en 3D…
Attention à n’en mettre que sur un cadre, sinon vous aurez du mal à poser votre cadre sur la table pour mouler…
<br/><br/><br/>
<img src="/layout/img/Fonderie/assemblage.jpg" class="f_picture">
<br/><br/>
<h2>2 - Realisation du moule</h2>
Afin d’avoir le moulage le plus fiable possible, j’ai décidé d'investir dans du vrai sable de moulage (connu sous le nom de sable à vert). Il est extrêmement fin (et se colle absolument partout d’ailleurs, faites gaffe !!).
<br/><br/><br/>
<img src="/layout/img/Fonderie/sable.jpg" class="f_picture">
<br/><br/>
Conseil :
<br/>
J’utilise la fonderie pour faire des reproduction aluminium de pièces normalement imprimées en 3D. Le problème est que l'état de surface d’une pièce imprimée en 3D est rarement bon, surtout sur les faces latérales : il y aura souvent des décalages entre les couches, et on aura une surface vaguelée. Le problème avec ça, c’est que quand vous retirerez votre pièce, vous risquez d’emporter avec elle une partie de votre moule en sable.
<br/>
Un moyen d'éviter cela est de polir votre pièce, en utilisant par exemple de l'acétone.
Vous y perdrez peut être un peu en qualité, mais rien de bien méchant, comparé à la peine que vous aurez à refaire votre moule à la main après que la pièce non polie en ait ravagé les bords.
<br/>
On commence donc par prendre notre pièce à mouler, dont on va faire un premier négatif.
<br/><br/><br/>
<img src="/layout/img/Fonderie/piece.jpg" class="f_picture">
<br/><br/>
On prend le cadre sans guides, qu’on pose sur une table, sur sa face plane.
On met la pièce au centre, et on remplit de sable à vert. Ce faisant, on compacte chaque couche de sable avec une petite masse, pour en faire un moule bien compact.
N’attendez pas d’avoir tout recouvert pour compacter à la masse, car ce faisant, vous ne compacterez que le dessus du moule, et la partie entourant la pièce manquera de solidité.
<br/><br/><br/>
<img src="/layout/img/Fonderie/couche1.jpg" class="f_picture">
<br/>
On aplanit le dessus du cadre, et on le retourne. On pose ensuite le second cadre, sur le premier, coté guides. Ensuite, on dépose du talc sur la face place, pour faciliter la séparation.
<br/>
Ensuite, on remplit avec la même procédure le second cadre, tout en conservant/creusant plusieurs points d’injection (au moins deux, à deux extrémités opposées de la pièce), et en n’ayant qu’un seul mot d’ordre, PLUS C’EST COMPACT MIEUX C’EST! Une fois fait, creusez des trous avec un foret de 12mm pour former les puits d'injection.
<br/><br/><br/>
<img src="/layout/img/Fonderie/separation.jpg" class="f_picture">
<br/><br/>
Séparez ensuite les cadres, pour que commence le retrait de la pièce
<br/>
ATTENTION : c’est la partie casse gueule du moulage. Si les faces latérales de votre pièce ne sont pas planes, vous allez défoncer votre moule en retirant la pièce. Si cela se produit, vous pouvez toujours reconstruire le moule à la main si il n’est pas trop amoché. Cela fera de petites irrégularités sur la pièce finale, que vous pourrez éventuellement corriger à la lime.
<br/>
Commencez par prendre du scotch bien collant (le double face est particulièrement approprié), découpez en un morceau d’environ 10cm,  collez les second et troisième quarts du morceau, et collez les premier et quatrième quarts à une extrémité de la pièce, et faites de même pour l’autre extrémité.
<br/><br/><br/>
<img src="/layout/img/Fonderie/retrait.jpg" class="f_picture">
<br/><br/>
Vous obtenez ainsi deux poignées, sur lesquelles vous allez tirer pour extraire la pièce.
<br/><br/><br/>
<img src="/layout/img/Fonderie/negatif.jpg" class="f_picture">
<br/><br/>
Ensuite, reconstruisez éventuellement les parties du moule qui se seraient écroulées.
<br/>
Replacez ensuite le cadre supérieur sur l'inférieur, pour obtenir votre moule fini.
<br/>
Vous pouvez théoriquement le manipuler librement, si vous avez assez compacté le sable, il ne devrait pas s’effondrer sur lui même.
<br/>
<br/>
<h1>III - Mise en route de la fonderie.</h1>
<h2>1 - Matériel :</h2>
Fonderie faite<br/>
Charbon (compacté c’est mieux)<br/>
Décapeur thermique<br/>
Grosses pierres pour couvrir<br/>
Chalumeau<br/>
<h2>2 - Procédure</h2>
Avant toute chose, familiarisez vous avec la récupération du creuset. Placez le au fond de la fonderie, et attrapez le avec le crochet. Sortez le de la fournaise, et entraînez vous à verser (une pince suffit à cet usage)
<br/><br/><br/>
<img src="/layout/img/Fonderie/versement.jpg" class="f_picture">
<br/><br/>
Commencez par placer du charbon au fond de la fournaise, placez le creuset (la boîte de conserve…..) sur le charbon. Placez ensuite du charbon tout autour du creuset.
<br/>
Placez vos morceaux d’aluminium dans le creuset, et recouvrez d’une pierre.
<br/>
Allumez le chalumeau, et faites passer la flamme par l’entrée d’air à la base de la fonderie. Réveillez les braises pendant environ une minute, puis éteignez le chalumeau.
<br/>
Allumez le décapeur thermique à la puissance maximale, et dirigez le flux vers l'arrivée d’air. Le charbon s'allumer progressivement.
<br/><br/><br/>
<img src="/layout/img/Fonderie/fonderie_en_marche.jpg" class="f_picture">
<br/><br/>
Patientez une BONNE dizaine de minutes, rajoutez éventuellement du charbon si il vient à manquer, jusqu’à ce que l’aluminium soit fondu.
<br/>
Veillez à avoir suffisamment d’aluminium pour remplir le moule. La coulée doit impérativement se faire en une fois, sinon, vous obtiendrez une pièce plutôt cocasse :
<br/><br/><br/>
<img src="/layout/img/Fonderie/ratage.jpg" class="f_picture">
<br/><br/>
(ça passerait bien à Beaubourg mais pas dans un robot tristement…)
<br/>
<br/>
<h1>IV - Coulée</h1>
Sortez le creuset avec le crochet, amenez le près du moule, et versez en visant un des puits d’injection. Ne versez pas trop vite, pour ne pas vous faire surprendre par la remontée de l’aluminium dans les puits de coulée.
<br/><br/><br/>
<img src="/layout/img/Fonderie/versement.jpg" class="f_picture">
<br/><br/>
Attendez que l’aluminium déborde des points de coulée. Si il ne déborde pas de certains puits, versez dans ces derniers jusqu’au débordement.
<br/>
Si vous n’avez pas assez d’aluminium, c’est foutu, inutile d’essayer de refaire chauffer, vous obtiendrez une pièce mal formée. Plus qu’à tout recommencer (je sais c’est triste mais y a aucun espoir…)
<br/>
Laissez tout refroidir.
<br/>
<br/>
<h1>V - Démoulage</h1>
Séparez les deux parties du moule. Vous devriez obtenir du sable noirci par la chaleur, à proximité du métal, et du sable intègre plus loin de la pièce. Isolez le sable intègre, pour une réutilisation future, et jetez le sable noir, il n’est plus d’aucune utilité.
<br/><br/><br/>
<img src="/layout/img/Fonderie/decoupage.jpg" class="f_picture">
<br/><br/>
Sortez la pièce du sable :
<br/><br/>
<img src="/layout/img/Fonderie/piece_sortie.jpg" class="f_picture">
<br/><br/>
Coupez les pics d’injection
<br/><br/>
<img src="/layout/img/Fonderie/piece_finie.jpg" class="large_f_picture">
<br/><br/>
ET VOILA!
