<!doctype html>
<html lang="en">
<head class = top>
    <meta charset="utf-8">
    <title>Anti-Social</title>

    <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<div id = "menuH">
    {% include "menu.twig" %}
</div>
<div class = "page">
    {{ include(name) }}
</div>
<div id="footer">
    Anti-Social, le réseau social de l'ECE
</div>

</body>
