<div class = title ><h1>Bienvenue!!</h1></div>
<br/><br/>
Mon nom est Raphaël Outhier, je suis élève ingénieur, et passionné (entre autres) de code, mécanique, électronique, informatique, et sécurité informatique, domaines auxquels je consacre la majeure partie de mon temps libre.
<br/><br/>
J'ai créé ce site pour pouvoir y mettre de la documentation concernant mes projets.
<br/><br/>
Certains sont des simples articles, portant par exemple sur la fabrication d'une fondrie à aluminium, sur le moulage maison de l'aluminium, ou sur l'amélioration d'imprimantes 3D.
<br/><br/>
Des projets plus évolués (LowLevel par exemple) contiennent de la documentation et du code, libre évidement, comme tout ce que vous trouverez sur ce site.
<br/><br/>
Pour accéder à mon GitHub complet, vous pouvez cliquer sur le lien ci-dessous.
<br/><br/>
<a href="https://github.com/Briztou">
    <img src="/layout/img/git.png" style="width:100px;display: block;margin-left: auto;margin-right: auto">
</a>
<br/><br/>
Je vous souhaite une bonne lecture!
<br/><br/>
