<!doctype html>
<html lang="en">
<head class = top>
    <meta charset="utf-8">
    <title>Anti-Social</title>

    <link href="layout/css/styles.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <span>
         <form id="login">
       Nom:
             <br> <input type="email" name="email" class="login"> <br>
        Mot de passe: <br> <input type="password" name="mdp" class="login"> <br>
        <input type="submit" name="subButton" value="Se connecter" class="login">
    </form>
    </span>

</body>
