<!doctype html>
<html lang="en" class="center">
<head class = top>
    <meta charset="utf-8">
    <title>Anti-Social</title>

    <link href="/../layout/css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<p class="titre"> ANTI-SOCIAL </p>
<p class="connect"> CONNEXION </p>
    <div>
        <form id="login">
            Nom: <input type="email" name="email" id="email"> <br>
            Mot de passe: <input type="password" name="mdp" id="mdp"> <br>
            <input type="button" id="subButton" value="Se connecter">
        </form>
    </div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       // alert("in");
        $("#subButton").click(function () {
           // alert("We have entenred function");
            var str = $("#email").val();
            //diff to allow push
            var tab = str.split("@");
            if(tab[1]!= "edu.ece.fr" ) {
                alert("Erreur dans le mail, nous attendoins a un mail de l'ece terminant par @edu.ece.fr");
            }else if($("#mdp").val()==''){
                alert("Erreur , le champ des mots de passe est vide");
            }else{
               // alert("ajax field called");
                $.ajax({
                    type: 'POST',
                    url: '/../layout/load.php',
                    dataType:"html",
                    data: 'email='+tab[0]+'&mdp='+$("#mdp").val(),
                    complete: function(data) {
                        var res= data;
                      //  alert(data);
                       // alert(Number(res));
                        if(res==0) {
                            window.location = '/../index.php/Profil/';
                        }
                        if(res == 1){
                            alert("Erreur - auqun utilisateur a ce nom");
                        }
                        if(res == 2){
                            alert("Erreur - mauvais mot de passe");
                        }
                        if(res==3){
                            window.location = '/../index.php/files/admin.php';
                        }
                        alert("rederecing");
                        window.location = '/../index.php/Profil/';
                        }

                });

            }
        });

    });
</script>

</body>
