<!doctype html>
<html lang="en">
<head class = top>
    <meta charset="utf-8">
    <title>Anti-Social</title>

    <link href="layout/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <form id="login">
       Nom: <input type="email" name="email"> <br>
        Mot de passe: <input type="password" name="mdp"> <br>
        <input type="submit" name="subButton" value="Se connecter">
    </form>
</body>
