<div id="MenuH">

    <a id="MenuHTxt" href=/index.php/Profil/> Profil </a>
    <a id="MenuHTxt" href=/index.php/Chronologie/> Chronologie</a>
    <a id="MenuHTxt" href=/index.php/Amis/> Amis</a>
    <a id="MenuHTxt" href=/index.php/Photos> Photos</a>
</div>