<link rel="stylesheet" type="text/css" href="/layout/css/template.css">
<div class = "menu">
    <div id="MenuH">

        <a id="MenuHTxt" href="index.php/Profil/"> Profil </a>
        <a id="MenuHTxt" href=/index.php/Chronologie/> Chronologie</a>
        <a id="MenuHTxt" href=/index.php/Amis/> Amis</a>
        <a id="MenuHTxt" href=/index.php/Photos> Photos</a>

    </div>
    <div id="MenuB">
        <a id="MenuBTxt" href="index.php/Publication/"> Publication</a>
        <a id="MenuBTxt" href="index.php/Configuration/"> Configuration</a>
    </div>
</div>