<div class = "menu">
<div class="menuClass">
    Mes Projets
</div>
<a class="menuItem" href=/index.php/LowLevel/>
    Contrôleur pour Machines N axes
</a>
<a class="menuItem" href=/index.php/Monitor/>
    Haut niveau pour NATEC
</a>
<a class="menuItem" href=/index.php/OrdBot/>
    Optimisation d'imprimante 3D
</a>
<a class="menuItem" href=/index.php/Fonderie/>
    Fonderie
</a>
<a class="menuItem" href=/index.php/Drone/>
    Drone
</a>
<a class="menuItem" href=/index.php/MeshVisu/>
    Visualiseur de Maillages
</a>
<a class ="menuItem" href=/index.php/Coupe2016/>
    Coupe de France de Robotique 2015-2016
</a>
<!--<a class ="menuItem" >
    Projet de robotique 2017
</a>-->
<a class="menuClass" href="/doc/CV_Raphaël_Outhier.pdf" download>
    Mon CV
</a>
</div>