<link rel="stylesheet" type="text/css" href="/layout/css/styles.css">
<div class = "menu">
    <div id="MenuH">

        <a id="MenuHTxt" href="/Profil/"> Profil </a>
        <a id="MenuHTxt" href="/Chronologie/"> Chronologie</a>
        <a id="MenuHTxt" href="/Amis/"> Amis</a>
        <a id="MenuHTxt" href="/Album/"> Photos</a>

    </div>
    <div id="MenuB">
        <a id="MenuBTxt" href="/Publication/"> Publication</a>
        <a id="MenuBTxt" href="/Configuration/"> Configuration</a>
    </div>
</div>