<br/><br/>
<div class = title ><h1>Monitor</h1></div>
En parallèle de la conception de LowLevel, il a fallu en plus du code de bas niveau, développer une interface de contrôle sur ordinateur.
<br/><br/>
Rappelons que l'enjeu principal du code de bas niveau est de s'adapter automatiquement à n'importe quel nombre d'axes.
<br/><br/>
L'interface doit donc satisfaire aux conditions suivantes :
- Recherche automatique de ports série disponibles
- Connexion automatique avec l'imprimante
- Récupération des paramètres machine
- Adaptation de l'affichage et du comportement au nombre d'axe de la machine
- Affichage en temps réel de la position
- Envoi de GCode adapté au nombre d'axes avec syntaxe correcte.
<br/><br/>
En plus de ces fonctionnalités de base, l'interface  permet de visualiser la position de la machine avec plusieurs indicateurs. Pour le moment, sont possibles la visualisation par slider 1D, ou repère 2D (En développement :  intégration du visualisation de maillage , permettant une visualisation 3D de la position, avec possibilité pour l'utilisateur d'orienter la figure 3D à sa guise. )
<br/><br/>
<img src="/layout/img/MONITOR.jpg" class=picture style="width:1100px">
<br/><br/>
Ci dessus, la face avant de l'interface quand elle est connectée la carte de mon imprimante 3D flashée avec LowLevel, compilé pour 3 axes. Le widget 2D permet d'afficher la position sur le plan (O, OX, Oy) ainsi que l'historique des positions sur ce plan. Le Slider à droite affiche la position sur l'axe des Z
<br/><br/>
Le code (encore une fois libre), est disponible sur GitHub, et accessible ci-dessous :
<br/><br/>
<a href="https://github.com/Briztou/Monitor"  download>
    <img src="/layout/img/git.png" style="width:100px;display: block;margin-left: auto;margin-right: auto">
</a>
