<br/><br/>
<div class = title ><h1>Optimisation de mon Imprimante 3D</h1></div>
<br/><br/>
En janvier dernier (2016), après avoir fait beaucoup de plans pour des projets mécaniques (des machines aux objets), j’ai décidé d’essayer de les concrétiser en investissant dans une imprimante 3D (open source évidement). Mon choix s’est rapidement porté sur un des nombreux modèles de RepRap,  l’OrdBot Hadron, une imprimante à structure en profilé, dite facilement personnalisable.
<br/><br/>
L’électronique consiste en une Arduino Méga, munie d’une carte élec RAMPS servant à relayer la puissance et l’information de la mécanique à l’ardu.
<br/><br/>
Après le montage, les premiers tests se montrèrent peu probants (avec le recul, bien sur, à l’époque j’étais ravi), la vitesse d’impression étant assez lente, 30mm/s maxi.
<br/>
Les impressions étaient sales, et peu précises, comportant de nombreuses aberrations dues à des réglages peu optimaux et des erreurs de conception de l’imprimante.
<br/>
J’ai peu utilisé l’imprimante, à cause de ses médiocres performances, jusqu’au jour ou, pendant mon stage de première année, j’ai eu la possibilité d’utiliser une Ultimaker.
Ces imprimantes possèdent une mécanique EXTRÊMEMENT bien conçue, tant dans le système ingénieux de courroie, que dans la conception même du mouvement : aucun moteur pas à pas embarqué, pas de mouvement X – Y du plateau, poids très léger du chariot.
<br/><br/>
<img src="/layout/img/banniere.jpg" class="large_picture">
<br/>
A gauche mon imprimante à l'époque, et à droite l'Ultimaker.
<br/><br/>
Si on met de coté l’aspect fermé des Ultimaker, j’étais jaloux. J’ai donc commencé un projet d’optimisation de ma RepRap, qui s’est avéré plus que satisfaisant.
<br/><br/>
J'ai obtenu une multiplication par 4 de la vitesse d’impression, et la correction de toutes les aberrations d’impression relatifs à la mécanique. Dans ce long article, je détaille ces modification, allant d’un simple ajustement du plateau à la conception d’un extrudeur custom, permettant une meilleure ventilation de la pièce, et un allègement ÉNORME du chariot.
<br/><br/>
<h2>I) Mise sous silence de l'alimentation</h2>
La première étape fut de me débarrasser du bruit de l’alimentation. Cette dernière était très mal conçue, et le flux dirigé de l’air produisait un bruit de soufflerie insupportable. J’ai donc enlevé le ventilateur original, et percé un trou dans la coque (perceuse, quand tu nous tient) pour y placer un ventilateur de mailleur qualité (récupéré dans un ordinateur). Ceci a permit de rediriger le flux d’air et de rendre l’alimentation totalement silencieuse, ainsi que plus performante au niveau du refroidissement.
<br/><br/>
<img src="/layout/img/alim.jpg" class="large_picture">
<br/><br/>
<h2>II) Quelques problèmes de conception de la machine</h2>
<h3>1) Mise sur ressort du plateau</h3>
A l’origine, le plateau chauffant était fixé sur le chariot en Y, ne laissant pas de possibilité d’ajuster simplement le nivellement du plateau pendant l’impression.
Or, le nivellement du plateau est l’étape la plus importante dans l’impression 3D ;
Je répète : LE NIVELLEMENT EST L’ÉTAPE LA PLUS IMPORTANTE ! Un plateau à la mauvaise hauteur donnera une première couche de mauvaise qualité, au mieux impactant les couches suivantes, et au pire, causant un décollement de la pièce. Pouvoir ajuster facilement le plateau est un point capital dans le combat contre l’impression de mauvaise qualité.
J’ai donc remplacé les quatre vis maintenant le plateau par des vis plus longues munies de ressorts et d’écrous larges, actionnables facilement à la main.
En a résulté une augmentation considérable (10mm/s → 60mm/s)de la vitesse de la première couche.
<br/><br/>
<img src="/layout/img/BUILDPLATE.JPG" class="picture">
<br/><br/>
J’en profite pour protester (c’est mon blog, j’estime que j’ai le droit …) vigoureusement contre l’utilisation de capteurs inductifs visant à s’affranchir d’ajustement correct du plateau, car plusieurs fois on m’a vanté leur mérite… Ces capteurs sont à l’impression 3D ce que la Lada est à l'automobile. Beaucoup d'entretient et ca tient pas la route …
Certes le capteur permet d’obtenir la position moyenne du plateau (quand ils fonctionnent ce qui est beaucoup demander) mais postulent que le plateau est à niveau, ce qui, si ce n’est pas le cas, entraîne une première couche de qualité médiocre, et donc, une impression pauvre…
MERCI LA TECHNOLOGIE !
<br/><br/>
Bon aller fini les plaintes, on passe à la suite !
<br/><br/>
<h3>2) Remplacement des vis de fixation des EndStops</h3>
Un problème mineur mais néanmoins gênant était que les EndStops étaient maintenus par une tige filetée munie d’un écrou. Difficile de les positionner correctement, particulièrement vrai pour l’axe des Z, donc l’ajustement correct est primordial. J’ai donc remplacé ce couple atypique par de bonnes vieilles vis.
<br/><br/>
<img src="/layout/img/endstop.jpg" class="large_picture">
<br/><br/>
<h3>3) Changement des Moteurs, pour plus de puissance et de facilité au démontage</h3>
<br/><br/>
Les moteurs livrés avec la machine étaient de mauvaise qualité (je me suis fait avoir). En résultaient des décalage de tics (mortels pour une impression 3D car faisant perdre sa position à la machine… dans ces cas là, il faut recommencer) dès que l’accélération devenait plus importante.
De plus, un des enjeux de la modification de la machine était de la rendre facilement démontable. Pour ceci, il fallait pouvoir facilement enlever l’électronique, l’idéal étant de ne pas tout décâbler. Le problème était que ces moteurs n’étaient pas munis de connecteurs à leur base, ce qui forçait à décâbler l’électronique (ou dévisser les moteurs… LOL).
Un petit investissement m’a permit de régler ces deux problèmes.
<br/><br/>
<img src="/layout/img/STEPPERS.jpg" class="picture">
<br/><br/>
C’est par ailleurs une des deux seules augmentations qui m’aura demandé de payer du matériel, l’idée n’étant quand même pas de payer une nouvelle imprimante.
<br/><br/>
<h2>III) Modification touchant à l’électronique</h2>
<h3>1) Ajout d'un contrôleur</h3>
<br/><br/>
L’inconvénient de ne pas avoir de contrôleur sur l’imprimante est que l’ordinateur fournissant le Gcode doit être connecté en permanence. Si il meurt par déchargement de batterie, ou que la liaison série est perdue, l’impression est fichue, et il faut recommencer.
Heureusement pour moi, Marlin, le code de bas niveau des RepRap intègre à peu près tous les contrôleurs existant sur le marché (Faut respecter Marlin, c’est un soft bien!). J’ai du investir dans un contrôleur (14E sur internet, promis c’est la dernière manip ou faut payer) permettant d’imprimer sans ordinateur à partir d’une carte SD.
<br/><br/>
Cela m’a permis entre autre de pouvoir sortir de ma chambre (avec mon ordi!) pendant les impressions, le bruit n'étant pas très agréable.
<br/><br/>
<img src="/layout/img/CONTROLLER_WORKING.JPG" class="picture">
<br/><br/>
<h3>2) Fixation du contrôleur</h3>
Fort de l’ajout software de ce contrôleur, j’ai conçu un support pour ce dernier. Il est constitué d’un support à proprement parlé, se fixant sur le contrôleur, et d’une partie se fixant sur l’imprimante. Les deux parties peuvent s’emboîter et se déboîter, ceci permettant de retirer facilement l’électronique lors du démontage.
<br/><br/>
<img src="/layout/img/CONTROLLER_SUPPORT_2.JPG" class="picture">
<br/><br/>
<h3>3) Fixation de la carte de commande.</h3>
<br/><br/>
Dans la foulée de la motif précédente, j’ai conçu un support du même type pour la carte Arduino+RAMPS, toujours pour faciliter le démontage.
<br/><br/>
<h2>IV) Le cas du Z Wobble</h2>
<br/><br/>
Une tare majeure (et je pèse mes mots) de l’Ordbot se trouve dans le concept du mouvement vertical. L’axe des X est bougé verticalement, guidé par des coulisses sur profilé, ET par des tiges filetées parallèles (idéalement) aux profilés. Théoriquement, il n’y a pas de problème, mais dans la réalité, à cause de la position mal ajustée des moteurs pas à pas en Z, et des torsions des tiges filetées, les points reliant les tiges à l’axe des X vont tourner dans le plan XY. De ce fait, l’axe des X (supportant le chariot) va être soumis en plus d’un mouvement vertical, à un mouvement circulaire, coordonné avec la rotation des moteur pas à pas en Z.
<br/><br/>
Ce défaut de conception, souvent appelé « Z Wobble » se traduit par une aberration d’impression bien connue des possesseurs d’OrdBot, la présence de vaguelettes sur toute surface extérieure.
C’est un défaut majeur, ruinant toute impression se voulant précise.
<br/><br/>
<h3>1) Découplage des mouvements Z et XY sur les points d’attache</h3>
<br/><br/>
La première étape est de désolidariser l’axe des X des écrous se déplacent sur les tiges filetées.
On dévisse d’abord ces écrous de l’axe, et on revisse des pièces imprimées en 3D (Les dernières présentant un Z Wobble marqué) qui vont supporter l’axe des X au dessus des écrous.
On fixe aux écrous des pièces leur empêchant de tourner sur eux même pour qu’ils continuent d’accomplir leur travail de régulation en hauteur.
Ce cette manière, les écrous pourront bouger sur le plan XY, et glisseront sous le support de l’axe.
<br/><br/>
<img src="/layout/img/wobble_correct.jpg" class="picture">
<br/><br/>
<h3>2) remplacement des vis filetées</h3>
<br/><br/>
La deuxième étape est de changer les tiges filetées. Ces dernières sont souvent légèrement tordues, à cause de mecanos peux délicats les assemblant et les vendant ensuite (j'ai achaté l'imprimante partiellement montée, je vous avais dit que je m’étais fait avoir ...). Un petit tour chez Leroy Merlin, deux coup de scie, et on a deux nouvelles tiges filetées qui font parfaitement le café.
<br/><br/>
<h3>3) Ajout de fixation des vis filetées.</h3>
<br/><br/>
Pour réduire encore plus le mouvement des tiges filetées, on peut imprimer des guides maintenant l’extrémité haute de ces dernières, elles seront ainsi maintenues en haut et en bas.
<br/><br/>
<img src="/layout/img/wobble_fix.jpg" class="picture">
<br/><br/> 
Le correctif final, avec les modifications précédentes, et l'extrudeur est montré dans la section suivante.
<br/><br/> 
<h2>V) Modification de l'extrudeur</h2>
<br/><br/>
La dernière étape avant obtenir une imprimante décente fut de m’intéresser à l’extrudeur en lui même.

J’ai diagnostiqué plusieurs défauts de conception importants :
- Moteur pas à pas d’extrusion embarqué : Le moteur d’extrusion est embarqué sur le chariot, causant un chargement TRÈS IMPORTANT, et non nécessaire, et de la place prise.
- Mauvaise ventilation de la pièce : la pièce en cours d’impression n’était pas ventilée. C’est un défaut important, car une bonne ventilation accélère la solidification, et permet d’imprimer plus rapidement, tout en donnant un bien meilleur rendu (on peut par exemple s’affranchir de matériau de support pour des pentes inférieures à 45°)
- Chariot en aluminium non adaptable : le chariot (en bleu sur la photo) était fait sur mesure pour l’extrudeur de l’imprimante. Très peu adaptable et assez lourd, il gagnait à être changé.
- Diamètre de la buse : 3mm. Non standard
<br/><br/>
<img src="/layout/img/EXTRUDER_PROBLEMATIC_0.JPG" class="picture">
<br/><br/> 
<br/><br/>
<h3>1) Conception d’un nouvel extrudeur</h3>
<br/><br/>
J’ai conçu et imprimé en 3D (Les imprimantes ne s’appelle pas réplication pour rien!) un extrudeur fait maison, permettant de fixer une (ou plusieurs dans une version à venir) buse(s), et deux ventilateurs, dont le flux est guidé par deux conduits imprimés eux aussi en 3D, jusqu’à la surface d’impression. Par ailleurs, j’ai modifié le chariot en lui même, remplaçant la pièce métallique courbée par une simple plaque munie de deux vis, pour accrocher n’importe quel type de support (sur les vidéos de démo de LowLevel, vous j’y ai accroché un stylo).
La connectique de la buse et des trois ventilateurs permet de démonter facilement l’extrudeur.
<br/><br/>
<img src="/layout/img/EXTRUDER_NEW_3.JPG" class="picture">
<br/><br/>
<h3>2) Délocalisation du moteur pas à pas sur le bâti</h3>
<br/><br/>
Le moteur pas à pas d’extrusion ne devant surtout pas d’être mobile, j’ai adapté le modèle d’extrudeur « Bowden » pour qu’il s’accroche au profilé vertical de la machine. Le moteur envoie le fil dans un tube non extensible, guidant le plastique vers la buse ou il est fondu.
<br/><br/>
<h3>3) Augmentation du diamètre de la buse</h3>
<br/><br/>
Une dernière augmentation, et des plus significatives, a été d’élargir le diamètre de la buse (nul besoin d’acheter une buse spéciale, un bon coup de perceuse suffit (faites gaffe quand même … ) ) de 0,4mm à 0,6mm.
Le problème avec le 0,4mm est qu’il limite rapidement le débit quand on augmente la vitesse maximale d’impression : la machine pourrait très bien aller plus loin, mais la viscosité du plastique liquide ne permet pas d’accroître le débit, ce qui cause une sous extrusion.
Dans ce cas, seul l’augmentation du diamètre peut solutionner le problème.
S’en suit une perte légère en précision, perte que j’ai (pour ma part mais ce n’est que mon avis personnel) trouvé négligeable comparé au gain de temps, les pièces que j’imprime étant assez larges.
<br/><br/>
<h2>Bilan</h2>
<br/><br/>
J’arrive aujourd’hui à performances égales (voir supérieures) à l’Ultimaker dont je rêvais tant il y a quelques mois, mais pour environ 2000 euros de moins soit dit en passant.
J’arrive à imprimer à 120mm/s sans problème, avec une épaisseur de couche de 0,3mm, ce qui donne une qualité très correcte.
<br/><br/>
<img src="/layout/img/PRINTER_MOD_2.JPG" class="picture">
<br/><br/>
