<div class="publi">
    <form method="post" action="publication.php" class="pp">
        Status :
        <input type="text" class="textbox" name="status" id="status"/>
        <input type="submit" id="button" value="Publier" name="publierStatus"/>
    </form>
</div>

<hr>
<!-- Publication Image/Video-->
<div class="publi">
    <form method="post" action="publication.php" class="pp" >
        <input type="text" class="textbox" name="path"  class="Box"/>
        <input type="button" class="button" value="Sélectionner un média" name="selMedia"/>

        <br/>
        <br/>
        <br/>

        <input type="text" name="lieu" class="textbox" value="Lieu"/>
        <input type="text" name="emot" class="textbox" value="Emotion"/>
        <input type="text" name="activité" class="textbox" value="Activité"/>
        <input type="text" name="nomalbum" class=textbox" value="Nom de l'album"/>

        <br/>

        <input type="radio" name="typPub" value="Public" checked> Publique <br/>
        <input type="radio" name="typPub" value="Amis" > Amis <br/>
        <input type="radio" name="typPub" value="Seul" > Moi-même <br/>

        <input type="submit" class="button" value="Publier" name="ajouter"/>
    </form>
</div>

