body { background-color: GhostWhite;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif; }

#nav { font-weight:bold;
    font-size: .70em;
    margin-left: 15px; margin-right: 15px;}

#menu{
    width: 100%;
    height: 8vh ;
}
#MenuH { background-color: #2040E0;
    width: 100%;
    height:5vh;
    text-align: center;}
#MenuHTxt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.00em;
    color: GhostWhite;
    margin-left: 0px;
    margin-right: 70px;
    display:inline-block;
    vertical-align:middle;
}

#MenuB {
    background-color:#0070FF;
    float: left;
    width: 100%;
    text-align: center;
    height: 3vh;
}

#MenuBTxt {
    color:GhostWhite;
    text-align: center;
    float: left;
    height: 10vh;
    font-size: 1.00em;
    margin-left: 0px;
    margin-right: 70px;
    margin-bottom: 30px;
    vertical-align:middle;
    display:inline-block;
}

#messagerie {
    width: 20%;
    text-align: center;
    background-color: #4682B4;
    color: GhostWhite;
    float: right;
    height: 100vh;
}

#left-colomn {
    text-align:center;
    font-size: 2.00em;
}

#footer {
    font-size: .60em;
    font-style: italic;
    text-align: center;
}
#left-colomn{
    width: 80%;
}
#button, #textbox{

    height:50px;
    font-size:5.0em;
    margin-top: 30px;
    margin-bottom: 30px;
}
#button{
    background-color: #D000A0;
    color: white;
}