body { background-color: GhostWhite;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Century;
    font-size: 0.70em;
    text-align: center;
    height: 100vh}


#MenuH { background-color: #2040E0;
    width: 100%;
    height:5vh;
    text-align: center;
    text-decoration: none;
}
#MenuHTxt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.00em;
    color: GhostWhite;
    margin-left: 0px;
    margin-right: 70px;
    display:inline-block;
    vertical-align:middle;
    text-decoration: none;
}

#MenuB {
    background-color:#0070FF;
    width: 100%;
    height:4vh;
    text-align: center;
    text-decoration: none;

}

#MenuBTxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.00em;
    color: GhostWhite;
    margin-left: 0px;
    margin-right: 70px;
    display:inline-block;
    vertical-align:middle;
    text-decoration: none;
}

#messagerie {
    width: 20%;
    text-align: center;
    background-color: #F5F5F5;
    color: GhostWhite;
    float: right;
    text-decoration: none;
    height: 100vh;
}

#footer {
    font-size: .60em;
    font-style: italic;
    text-align: center;
}
#left-colomn{
    width: 80%;
}

#button{
    background-color: #6495ED;
    color: white;
}
#login{
    height:100vh;
    padding-top: 30vh;
    font-size: xx-large;

}
.page{
    text-align: center;
}
span{
    line-height: inherit;
    vertical-align: bottom;
}
.visuProfil{
    font-size:3.0em;
    text-align: inherit;
    width: 80%;

}